html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.container {
  max-width: 960px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
  margin-top: 1rem;
  padding: 1rem 2rem;
}

nav span {
  margin-right: 2rem;
}

nav span:last-child {
  margin-right: 0;
}

.logo-top {
  display: flex;
  align-items: center;
}

.logo-top img {
  height: 1.5rem;
  margin-right: 1rem;
}
